build/ipch/
build/.vs/
*.db
source/Game.Desktop.OpenGL/obj/
source/Library.Desktop/obj/
source/UnitTest.Library.Desktop/bin/
*.idb
*.tlog
build/packages/
*.opendb
source/Game.Desktop.OpenGL/bin/
source/Library.Desktop/My\ Amplifier\ Results\ -\ Library.Desktop/